.summary-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem auto 0 auto;
  max-width: 200px;
}

button.summary-page-over {
  border: none;
  background: none;
}

@media screen and (max-width: 520px) {
  .summary-pagination {
    max-width: 100%;
  }
}
