nav {
  padding: 1rem 0;
  position: sticky;
  top: 0px;
  background: var(--surface-ground);
  z-index: 1;
  backdrop-filter: blur(4px);
}

#nav-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: var(--main-max-width);
  margin: 0 auto;
}

#nav-inner h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin: 0;
}

.login-container svg {
  margin-bottom: -6px;
}

@media screen and (max-width: 520px) {
  #nav-inner h1 {
    font-size: 1.25rem;
  }
}
